/* div.Viewmain {
  width: 100vw;
  height: 150vh;
  border-radius: 19px;
  border: 2px solid grey;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

div.taskBox {
  background-color: #1c2842;
  width: 90vw;
  height: 65vh;
  border-radius: 19px;
  margin: auto;
  margin-top: 40px;
  border: 2px solid grey;
  margin-left: auto;
  margin-right: auto;
}

div.Viewtitle {
  margin: auto;
  font-size: 30px;
  border-radius: 19px;
  height: 50px;
  background: #151e31;
}

.Viewtitle h1 {
  margin-left: 34%;
  color: grey;
  margin-top: 5px;
}

div.tasks {
  background: #000;
} */
